/*HTML*/

body {
    font-family: 'Noto Sans KR', sans-serif; 
}

a:link {text-decoration: none; color: blue;}
a:visited {text-decoration: none; color:black;}
a:active {text-decoration: none; color: grey;}
a:hover {text-decoration: none; color: rgb(255, 234, 142);}

/* Navbar */

.nav-container{
    background-color:#10101A;
    width:100%;
    height:80px;
    position:fixed;
    list-style-type: none;
    z-index:100;
}

.nav menu{
    text-align: center;
    z-index:100;
}
.nav-menu li{
    margin-top:25px;
    display:inline-block;
    list-style: none;
    color: rgb(243, 243, 243); 
    line-height: 30px;
    vertical-align: middle; 
    text-align: center;
    z-index:100;
}

.nav-menu img{
    position:relative;
    width:80px;
    display: inline-block;
    z-index:100;
    
}
.nav.item{
    cursor:pointer;
}


.nav-item a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size:18px;
    margin-left:50px;
    color: #eeeeee;
}

.nav-item a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: rgb(255, 234, 142);
    -webkit-transition: all .1s ease;
    transition: all 0.3s ease;  
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }
.nav-item a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

/* notice */


.notice-wrapper{
    margin:80px;
}

.wrapper{
    display: flex;
}
.container{
    margin-top:80px;
    width:100%;
    height:300px;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    position:absolute;

}
.item{
    width:100%;
    height:400px;
   
}

.item img{
    display: inline-block;
    width:100%;
    height:300px;
    object-fit: cover;
}

.container ul{
    -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}

.notice{
    width:500px;
    display:inline-block;

}

.notice h3{
    font-size:24px;
    font-weight: bold;

}
.notice li{
    margin-top:15px;
    font-weight:500;
}

.more-notice {
    float:right;
    
}

.data {
    float:right;
}

.guide{
    display:inline-block;
    float:right;
    
}
.guide img{
    width:350px;
    margin-left:70px;
    margin-bottom:20px;

}



/* introduce */

.introduce{
    margin:80px;
    margin-top:30px;
}

.introduce h3{
    font-size:24px;
    font-weight: bold;
}





.video-wrapper img{
    margin-top:20px;    
    object-fit: cover;
    float:left;
    margin-right:40px;
    margin-bottom:40px;
}

/* introduce */

.introduce_video{
    margin-top:80px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.u-video{
  background:black;
  padding-top:80px;  
}

.quickmenu{
    margin-top:80px;
    float:left;
    height:300px;
    background-color:aqua;
    width:220px;
}

.hh{
    height:1000px;
}

.er-explanation{
    width:100%;
    height:1200px;
    background:black;
}

.introduce_background{
    position:absolute;
    width:100%;
    height:100%;
    margin-top:80px;
}

.introduce_background img{
    width:100%;
    height:100%;
    object-fit: cover;
  
}

.introduce_background_cover{
    position:absolute;
    width:100%;
    height:100%;
    margin-top:80px;
    background-color: rgb(0,0,0,0.5);
}

.introduce-title{
    position:absolute;
    z-index:100;
    margin-top:80px;
    overflow: hidden;
    text-transform: uppercase;
    color:#fff;
    font-size:60px;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: 'SB Aggro'
}

.introduce-explain{
    position:absolute;
    z-index:100;
    margin-top:80px;
    color:#fff;
    font-size:16px;
    top:63%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: 'SB Aggro'
}



/* charactor */

.ch-selector{
    padding-top:80px;
    width:20%;
    height:1024px;
    background: #10101A;
    text-align: center;
    float:left;
}

.ch-selector div{
    margin-top:15px;
    margin-left: auto;
    margin-right:auto; 
    width:80px;
    height: 80px;
    display:inline-block;
    background:brown;
    
}

.ch-thumnail p{
    display: inline-block;
} 

.ch-map{
    padding-top:80px;
    width:80%;
    height:1024px;
   float:left;
   background:#10101A;
}

.ch_full{
    width:100%;
    object-fit: cover;
}

/* guide */

.guide-wrapper{
    width:100%;
    height:2900px;
    background:#10101A;
}

.guide-img-standard{
    text-align: center;
    margin-bottom:20px;
    color:white;
}
.guide-img-standard img{
    padding-top:100px;
    display:block;
    margin: 0 auto;

}

.guide-img{
    text-align: center;
    margin-bottom:20px;
    color:white;
}
.guide-ch-img{
    display:block;
    margin:0 auto;
}